@model IEnumerable<CountryViewModel>

@{
    ViewData["Title"] = "All countries";
    int index = 1;
}

<div>
    @if (!Model.Any())
    {
        <hr class="bg-info cm-hr" />
        <div class="text-secondary font-size-30 text-center mt-4">There are no countries!</div>
        <hr class="bg-info cm-hr" />
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr class="row">
                    <th class="col-md-1">&#8470;</th>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-2">Country code</th>
                    <th class="col-md-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Model)
                {
                    <tr class="row">
                        <td class="col-md-1">@(index++)</td>
                        <td class="col-md-2">
                            <a class="text-dark"
                               asp-area="@AdministrationArea"
                               asp-controller="Country"
                               asp-action="Details"
                               asp-route-id="@country.Id">
                                @country.Name
                            </a>
                        </td>
                        <td class="col-md-2">@country.Code</td>
                        <td class="col-md-3">
                            <a class="btn btn-outline-primary btn-sm mx-3"
                               asp-area="@AdministrationArea"
                               asp-controller="Country"
                               asp-action="Edit"
                               asp-route-id="@country.Id">
                                Edit
                            </a>
                            <a class="btn btn-outline-danger btn-sm"
                               asp-area="@AdministrationArea"
                               asp-controller="Country"
                               asp-action="Delete"
                               asp-route-id="@country.Id">
                                Delete
                            </a>
                            <a class="btn btn-outline-primary btn-sm mx-3"
                               asp-area="@AdministrationArea"
                               asp-controller="Country"
                               asp-action="Details"
                               asp-route-id="@country.Id">
                                Details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>